<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TrackerContext"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=Tracker;Integrated Security=True;MultipleActiveResultSets=true;" />
    <add name="TrackerEntities"
         connectionString="metadata=res://*/Tracker.csdl|res://*/Tracker.ssdl|res://*/Tracker.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Tracker;integrated security=True;MultipleActiveResultSets=true;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>